WebContent/wsdl/HelloTry.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sample.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sample.com" xmlns:intf="http://sample.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sample.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="name" type="xsd:string"/>
   <element name="helloName1Return" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="helloName1Request">

      <wsdl:part element="impl:name" name="name">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloName1Response">

      <wsdl:part element="impl:helloName1Return" name="helloName1Return">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloTry">

      <wsdl:operation name="helloName1" parameterOrder="name">

         <wsdl:input message="impl:helloName1Request" name="helloName1Request">

       </wsdl:input>

         <wsdl:output message="impl:helloName1Response" name="helloName1Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloTrySoapBinding" type="impl:HelloTry">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="helloName1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloName1Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloName1Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloTryService">

      <wsdl:port binding="impl:HelloTrySoapBinding" name="HelloTry">

         <wsdlsoap:address location="http://tempuri.org/TestProject/services/HelloTry"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
